
$bp0: 320px;
$bp1: 640px;
$bp2: 960px;
$bp3: 1280px;
$bp4: 1600px;
$bp5: 1920px;

$round: 3px;

$colorRed: #d72300;
$colorBlue: #3e8dc7;
$colorViolet: #7814b8;
$colorGreen: #03b705;
$colorRose: #d97fa2;
$colorYellow: #f9bb00;
$colorGray: #999;


@import 'sass/_fonts';
@import 'sass/fontawesome/font-awesome';
@import 'sass/_mixins';
@import 'sass/_reset';
@import 'sass/_preloader';

@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';


@import 'sass/_slick';
@import 'sass/_popup';
@import 'sass/_main';
@import 'sass/_header';
@import 'sass/_footer';
@import 'sass/_menu';
@import 'sass/_form';
@import 'sass/_cards';
@import 'sass/_item';
@import 'sass/_cropper';
@import 'sass/_lk';
@import 'sass/jqueryfilter/jquery.filer';

