// Это подвал, он тоже сквозной
footer.footer
	.inner
		.footer-logo
			a.ico(href='#')
		.footer-nav
			.nav-list
				.nav-item: a.nav-link(href='/') Вопросы и ответы
				.nav-item: a.nav-link(href='/') Обратная связь
				.nav-item: a.nav-link(href='/') Пользовательское соглашение
				.nav-item: a.nav-link(href='/map.html') Карта сайта
		.footer-soc
			.soc-list
				.soc-item: a.soc-link(href='/'): i.fa.fa-facebook(data-tooltip='Следите за&nbsp;нами в&nbsp;facebook')
				.soc-item: a.soc-link(href='/'): i.fa.fa-vk(data-tooltip='Общайтесь с&nbsp;нами vkontakte')
				.soc-item: a.soc-link(href='/'): i.fa.fa-twitter(data-tooltip='Читайте нас в&nbsp;twitter')
				.soc-item: a.soc-link(href='/'): i.fa.fa-youtube-play(data-tooltip='Смотрите нас на&nbsp;youtube')
		.copyright Все права принадлежат владельцам сайта, и т.д., и т.п. &copy;&nbsp;Студия KatArins, 2016 г.