// Это шапка, она сквозная
header.header.clearfix
	.nav-wrap.clearfix
		.inner
			.nav-mobile
				.nav-handler: .nav-handler__icon: i
				a.nav-logo(href='/')
			.nav.clearfix
				ul.nav-list
					li.nav-item: a.nav-link(href='/')
						i.fa.fa-home
						span.nav-item__full Главная
					li.nav-item: a.nav-link(href='/cards.html') Каталог
					li.nav-item: a.nav-link(href='/') Индивидуальный сюжет
				ul.nav-list.nav-list_user
					if auth == true
						li.nav-item: a.nav-link(href='/lk-orders.html', title='Вход в личный кабинет') Личный кабинет
						li.nav-item: a.nav-link(href='/lk-message.html', title='У вас есть непрочитанные сообщения')
							i.fa.fa-envelope: span.notes 2
							span.nav-item__full Оповещения
						li.nav-item: a.nav-link(href='/', title='Выйти')
							i.fa.fa-sign-out
							span.nav-item__full Выйти
					else
						li.nav-item: a.nav-link(href='#', data-popup='.popup_login', title='Авторизоваться на сайте') Войти
						li.nav-item: a.nav-link(href='#', data-popup='.popup_reg', title='Зарегестрироваться на сайте') Регистрация