section.menu
	.inner
		.menu-list
			a.menu-item.active(href='#') Все <i>(103)</i>
			a.menu-item(href='#') Свадебное приглашение <i>(73)</i>
			a.menu-item(href='#') Девичник <i>(18)</i>
			a.menu-item(href='#') Мальчишник <i>(5)</i>
			a.menu-item(href='#') 14 февраля <i>(3)</i>
			a.menu-item(href='#') Свидание <i>(8)</i>
			a.menu-item(href='#') День рождения <i>(86)</i>
			a.menu-item(href='#') 8 марта <i>(9)</i>



