mixin cardsItem(id, url, person, name, favorite)
	.cards-item(data-id='#{id}', data-src='/img/temp/#{id}.jpg', data-name='#{name}', data-href='#{url}', data-person='#{person}')
		.cards-item__frame(style='background-image:url("/img/temp/#{id}.jpg");')
			img(src='/img/frame.png', alt='#{name}')
		.cards-item__legend
			.cards-item__legend-name #{name}
			.cards-item__legend-persons(data-tooltip='Количество персонажей')
				i.fa.fa-smile-o
				| #{person}
			.cards-item__legend-favor
				if favorite
					i.fa.fa-star.js-favorite(data-tooltip='Удалить из&nbsp;избраннго', data-id='#{id}')
				else
					i.fa.fa-star-o.js-favorite(data-tooltip='Добавить в&nbsp;избранное', data-id='#{id}')
			.cards-item__legend-link
				a.btn.btn_green(href='#{url}') Выбрать


mixin lkMenu(active)
	- var menu = [['Мои заказы', '/lk-orders.html'], ['Оповещения', '/lk-message.html'], ['Настройки','/lk-settings.html'], ['Избранные','/lk-favorite.html']]
	// Это сквозное меню для личного кабинета
	aside.lk-nav
		ul.lk-nav__list
			- for (var i = 0; i < menu.length; ++i)
				li.lk-nav__item: a.lk-nav__link(class= menu[i][0] == active ? "active" : "", href=menu[i][1])= menu[i][0]
