// эта штука присутствует только на главной странице
.header-welcome.nozoom
	.inner
		//-.header-welcome__promo
			.title Скидка 50%!
			.subtitle до 14 февраля 2017 года.
		.header-welcome__info
			.title KatArins
			.subtitle Студия цифрового рисунка
		.header-welcome__btn
			.btn.btn_big.js-show-example Примеры работ
		.header-welcome__bg: img(src='/img/bg_welcome.jpg', alt='')
		.header-welcome__slider
			.header-welcome__slider-item
				.bg: img(src='/img/transparent.gif', data-src='/img/examples/exapmp_a_01.jpg')
				.title.parallax: i.layer(data-depth='2') Приглашение
				.source.right
					img.source-item(src='/img/examples/exapmp_s_01-1.jpg')
					img.source-item(src='/img/examples/exapmp_s_01-2.jpg')
					img.source-item(src='/img/examples/exapmp_s_01-3.jpg')
			.header-welcome__slider-item
				.bg: img(src='/img/transparent.gif', data-src='/img/examples/exapmp_a_02.jpg')
				.title.parallax: i.layer(data-depth='2') Приглашение
				.source.left
					img.source-item(src='/img/examples/exapmp_s_02-1.jpg')
					img.source-item(src='/img/examples/exapmp_s_02-2.jpg')
					img.source-item(src='/img/examples/exapmp_s_02-3.jpg')
			.header-welcome__control
				.header-welcome__control-prev
				.header-welcome__control-next
				.header-welcome__control-close


		//-.examples
			.examples-title
			.examples-list
				.examples-item(data-result=''): img(src='/img/temp/001_x300.jpg', alt='')
				.examples-item(data-result=''): img(src='/img/temp/002_x300.jpg', alt='')
				.examples-item(data-result=''): img(src='/img/temp/003_x300.jpg', alt='')
				.examples-item(data-result=''): img(src='/img/temp/004_x300.jpg', alt='')
				.examples-item(data-result=''): img(src='/img/temp/005_x300.jpg', alt='')
				.examples-item(data-result=''): img(src='/img/temp/006_x300.jpg', alt='')
				.examples-item(data-result=''): img(src='/img/temp/007_x300.jpg', alt='')
				.examples-item(data-result=''): img(src='/img/temp/008_x300.jpg', alt='')
				.examples-item(data-result=''): img(src='/img/temp/009_x300.jpg', alt='')
