.popup.popup_login
	.popup-inner
		.popup-layout
			.popup-close
			.popup-title Авторизация
			.popup-content
				form.form.form_js(method='post', action='/data/test.json', autocomplete='off', data-form-type='auth')
					.form-message
					.form-field
						.form-field__label
							label(for='loginEmail') Логин (E-mail)
						.form-field__input
							input#loginEmail(type='text', name='auth-email', placeholder='Введите email', data-required='email')
						.form-field__message
					.form-field
						.form-field__label
							label(for='loginPass') Пароль
						.form-field__input
							input#loginPass(type='password', name='auth-pass', placeholder='Введите пароль', data-required='true')
						.form-field__message
					.form-submit
						input.btn.btn_green(type='submit', value='Войти')
				.soc-auth
				.pass-recovery: a(href='#', data-popup='.popup_passrecover') Восстановление пароля
	.popup-overlay

.popup.popup_passrecover
	.popup-inner
		.popup-layout
			.popup-close
			.popup-title Восстановление пароля
			.popup-content
				form.form.form_js(method='post', action='/data/test.json', autocomplete='off', data-form-type='recovery')
					.form-message
					.form-field
						.form-field__label
							label(for='recoverEmail') Логин (E-mail)
						.form-field__input
							input#recoverEmail(type='text', placeholder='Введите email', data-required='email', name='recover-email')
						.form-field__message
					.form-submit
						input.btn.btn_green(type='submit', value='Восстановить пароль')
				.pass-recovery: a(href='#', data-popup='.popup_login') Ложная тревога
	.popup-overlay

.popup.popup_reg
	.popup-inner
		.popup-layout
			.popup-close
			.popup-title Регистрация
			.popup-content
				form.form.form_js(method='post', action='/data/test.json', autocomplete='off', data-form-type='reg')
					.form-message
					.form-field
						.form-field__label
							label(for='regLogin') Логин (E-mail)*
						.form-field__input
							input#regLogin(type='text', placeholder='Введите email', data-required='email', name='reg-email')
						.form-field__message
					.form-field
						.form-field__label
							label(for='regPass') Введите пароль*
						.form-field__input
							input#regPass(type='text', placeholder='Введите пароль', data-required='true', name='reg-pass')
						.form-field__message
					.form-field
						.form-field__label
							label(for='regPassConfirm') Повторите пароль*
						.form-field__input
							input#regPassConfirm(type='text', placeholder='Повторите пароль', data-required='true', name='reg-pass-confirm')
						.form-field__message
					.form-field.form-field_checkbox
						.form-field__input
							input#regRules(type='checkbox', data-required='true', name='reg-pass-rules')
							span.checkbox-item
						.form-field__label
							label(for='regRules') Согласен с <a href="#" target="_blank">правилами</a>
						.form-field__message
					.form-field.form-field_checkbox
						.form-field__input
							input#regSubscribe(type='checkbox', data-required='true', name='reg-pass-subscribe')
							span.checkbox-item
						.form-field__label
							label(for='regSubscribe') Согласен на получение сообщений
						.form-field__message
					.form-submit
						input.btn.btn_green(type='submit', value='Зарегистрироваться')
	.popup-overlay
