block vars

include block/mixins

doctype html
<!--[if IE 6]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if gt IE 8]><html><![endif]-->
html
	head
		meta(charset='UTF-8')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		meta(name='viewport', content='width=device-width')/
		meta(name='description', content='#{pageDescription}')/
		meta(property='og:title', content='#{pageTitle}')/
		meta(property='og:description', content='#{pageDescription}')/
		meta(property='og:image', content='#{pageImage}')/

		link(rel='stylesheet', href='/css/style.css')/
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
		//script(src='http://code.jquery.com/jquery-3.1.0.min.js')
		script(src='/js/vendor.js')
		title #{pageTitle}
		block head
	body
		.wrapper.clearfix
			.website
				if pageName == 'home'
					include block/welcome
				include block/header
				block content
		include block/footer
		include popups
		script(src='/js/custom.js')
