extends layout/template

block vars
	- var pageName = 'catalog';
	- var pageTitle = 'Главная страница';
	- var pageDescription = 'Описание';
	- var auth = false;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content
	include layout/block/menu

	section.cards
		.inner
			.cards-list
				+cardsItem('001', '/item_008.html', '1', 'Женщина с бумажкой', true)
				+cardsItem('002', '/item_008.html', '2', 'Женщина с мужиком', false)
				+cardsItem('009', '/item_009.html', '1', 'Женщина одна', false)
				+cardsItem('003', '/item_008.html', '1', 'Супер бобер и очень длинное название, что бы посмотреть как это выглядит на примере', false)
				+cardsItem('004', '/item_008.html', '2', 'Американские мусора', false)
				+cardsItem('005', '/item_008.html', '2', 'Парочка влюбленных', false)
				+cardsItem('006', '/item_008.html', '2', 'Парочка влюбленных в машине', false)
				+cardsItem('007', '/item_008.html', '4', 'Воронины', false)
				+cardsItem('008', '/item_008.html', '7', 'Студенты', false)