extends layout/template

block vars
	- var pageName = 'faq';
	- var pageTitle = 'Вопросы и ответы';
	- var pageDescription = 'Вопросы и ответы';
	- var auth = false;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content

	section
		.inner
			.title Часто задаваемые вопросы и ответы.
			.content
				p Здесь собраны ответы на наиболее вероятные вопросы, которые могли возникнуть у вас при работе с нашим сайтом, но если вы не нашли ответов на интересующие вас вопросы, не расстраивайтесь, задайте нам свой вопрос с помощью <a href="">формы отратной связи</a>, и мы обязательно вам ответим.
			.content.content_faq
				.faq
					.faq__q(data-title='Вопрос') В 1926 и 1948 годах Германия была наказана за развязывание войн так же, как когда-то была наказана Спарта. Что это за наказание?
					.faq__a(data-title='Ответ') Немецким спортсменам было запрещено участвовать в Олимпийских играх

				.faq
					.faq__q(data-title='Вопрос') Какая вероятность того, что на Землю упадет астероид?
					.faq__a(data-title='Ответ') Это довольно вероятное событие. Мы знаем, что подобное происходило в прошлом, поэтому скорее всего произойдет и в будущем. Вокруг Солнца вращается более 2000 астероидов, диаметр которых превышает один километр. Орбиты некоторых из них могут пересекаться с орбитой Земли. Нет ничего невероятного в том, что в один прекрасный момент какой-то астероид действительно столкнется с нашей планетой.

				.faq
					.faq__q(data-title='Вопрос') Что такое жизнь с точки зрения физики?
					.faq__a(data-title='Ответ') В пятитомной физической энциклопедии статья на эту тему отсутствует. Хотя сплошь и рядом встречаются фразы вроде время жизни. Если приглядеться к этим фразам поближе, то можно заметить, что они имеют отношение к атомам, атомарным переходам, смесям и нестабильным системам. Существует понятие время жизни вселенной . Следовательно, с моей точки зрения, жизнь - это некое состояние, до и после которого структура, которую мы исследуем, отсутствует.

				.faq
					.faq__q(data-title='Вопрос') Возможна ли телепортация?
					.faq__a(data-title='Ответ') Согласно квантовой механике, невозможно точно предсказать положение частицы в пространстве, можно лишь говорить о вероятности нахождения частицы в определенной точке. Аналогично, если у нас есть два фотона, пролетевшие через кристалл и получившие противоположные поляризации, мы не знаем какая поляризация у какого фотона. Но после измерения поляризации одного из фотонов мы сразу же (мгновенно) узнаем поляризацию второго. Причем над вторым фотонов никаких измерений не производится, и он может находиться на сколь угодно большом расстоянии от первого. Этот эффект обсуждался Эйнштейном, Подольским и Розеном в 1935 г. Экспериментально квантовую телепортацию удалось осуществить в конце прошлого года.