extends layout/template

block vars
	- var pageName = 'faq';
	- var pageTitle = 'Вопросы и ответы';
	- var pageDescription = 'Вопросы и ответы';
	- var auth = false;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content

	section
		.inner
			.title Обратная связь
			.content
				p
			.content.content_feedback
				.feedback
					form.form.form_js(method='post', action='/data/test.json', autocomplete='off', data-form-type='feedback')
						.form-message
						.form-field
							.form-field__label
								label(for='feedbackName') Как к вам обращаться*
							.form-field__input
								input#feedbackName(type='text', placeholder='Как к вам обращаться', data-required='true', name='feedback-name')
							.form-field__message
						.form-field
							.form-field__label
								label(for='feedbackEmail') E-mail*
							.form-field__input
								input#feedbackEmail(type='text', placeholder='Введите email', data-required='email', name='feedback-email')
							.form-field__message
						.form-field
							.form-field__label
								label(for='feedbackText') Текст сообщения*
							.form-field__input
								textarea#feedbackText(placeholder='Введите текст', data-required='true', name='feedback-text')
							.form-field__message


						.form-submit
							input.btn.btn_big.btn_green(type='submit', value='Отправить')
