extends layout/template

block vars
	- var pageName = 'home';
	- var pageTitle = 'Главная страница';
	- var pageDescription = 'Описание';
	- var auth = false;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content
	section
		.inner
			.visual
				.visual-icon

			.title Студия KatArins.
			.content
				p У каждого из нас есть заветные мечты.
				p Самые несбыточные станут Реальностью в Вашей Открытке / Иллюстрации!
				p Любые фантазии! Вы в образе Джеймса Бонда! Ваш друг или подруга встречаются с инопланетянами.


			.title Выбирайте сюжет из каталога.
			.content
				p Загружайте Ваше фото или фото Вашего друга.
			.cards-list.cards-list_slider
				+cardsItem('001', '/item_008.html', '1', 'Женщина с бумажкой', true)
				+cardsItem('002', '/item_008.html', '2', 'Женщина с мужиком', false)
				+cardsItem('009', '/item_009.html', '1', 'Женщина одна', false)
				+cardsItem('003', '/item_008.html', '1', 'Супер бобер и очень длинное название, что бы посмотреть как это выглядит на примере', false)
				+cardsItem('004', '/item_008.html', '2', 'Американские мусора', false)
				+cardsItem('005', '/item_008.html', '2', 'Парочка влюбленных', false)
				+cardsItem('006', '/item_008.html', '2', 'Парочка влюбленных в машине', false)
				+cardsItem('007', '/item_008.html', '4', 'Воронины', false)
				+cardsItem('008', '/item_008.html', '7', 'Студенты', false)
			.content
				.content__more
					a.btn.btn_green.btn_big(href='#') Перейти в каталог

			.title Цены.
			.content
				p Загружайте Ваше фото или фото Вашего друга.
