extends layout/template

block vars
	- var pageName = 'item';
	- var pageTitle = 'Шаблон';
	- var pageDescription = 'Описание';
	- var auth = false;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content

	section.item(data-id='009')
		.inner
			.title Женщина одна
			.item-view
				.item-view__legend
					i.fa.fa-star-o.js-favorite.favorite(data-tooltip='Добавить в&nbsp;избранное', data-id='009')

				.item-view__img
					img(src='/img/temp/009.jpg' alt='')
					.area-list
						.area-item(data-area-id='0001', data-face-turn='ft_c', data-sex='female', data-face='0', style='top:130px;left:99px;width:216px;height:305px;', data-tooltip='Персонаж (жен.)')
			.item-info
				//.item-info__person 1 персонаж
				//.item-info__text
				.item-info__upload
					.upload
						.upload-name Персонаж (жен.)
						.upload-person(data-person-id='0001')
							.upload-list
							.upload-add

						input#templatePhotoUpload.fileinput(type='file', accept='image/*', capture='camera')

				.item-info__submit
					a.btn.btn_green.btn_disable.js-template-submit(href='#') Продолжить