extends layout/template

block vars
	- var pageName = 'item';
	- var pageTitle = 'Шаблон';
	- var pageDescription = 'Описание';
	- var auth = false;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content

	section.item(data-id='008')
		.inner
			.title Студенты
			.item-view
				.item-view__legend
					i.fa.fa-star-o.js-favorite.favorite(data-tooltip='Добавить в&nbsp;избранное', data-id='008')

				.item-view__img
					img(src='/img/temp/008.jpg' alt='')
					.area-list
						.area-item(data-area-id='0001', data-face-turn='ft_r1', data-sex='male', style='top:24px;left:6px;width:80px;height:100px;', data-tooltip='Персонаж 1 (муж.)')
						.area-item(data-area-id='0002', data-face-turn='ft_r2', data-sex='female', style='top:110px;left:135px;width:56px;height:71px;', data-tooltip='Персонаж 2 (жен.)')
						.area-item(data-area-id='0003', data-face-turn='ft_r1', data-sex='male', style='top:64px;left:245px;width:69px;height:83px;', data-tooltip='Персонаж 3 (муж.)')
						.area-item(data-area-id='0004', data-face-turn='ft_l2', data-sex='female', style='top:91px;left:358px;width:67px;height:81px;', data-tooltip='Персонаж 4 (жен.)')
						.area-item(data-area-id='0005', data-face-turn='ft_l1', data-sex='male', style='top:70px;left:449px;width:72px;height:83px;', data-tooltip='Персонаж 5 (муж.)')
						.area-item(data-area-id='0006', data-face-turn='ft_c', data-sex='male', style='top:231px;left:217px;width:72px;height:82px;', data-tooltip='Персонаж 6 (муж.)')
						.area-item(data-area-id='0007', data-face-turn='ft_r1', data-sex='female', style='top:269px;left:364px;width:73px;height:90px;', data-tooltip='Персонаж 7 (жен.)')
			.item-info
				//.item-info__person До 7 персонажей (4 муж., 3 - жен.)
				//.item-info__text Выберите персонажа на фото.
				.item-info__upload
					.upload
						.upload-name Персонаж 1 (муж.)
						.upload-person(data-person-id='0001')
							.upload-list
							.upload-add

						.upload-name Персонаж 2 (жен.)
						.upload-person(data-person-id='0002')
							.upload-list
							.upload-add

						.upload-name Персонаж 3 (муж.)
						.upload-person(data-person-id='0003')
							.upload-list
							.upload-add

						.upload-name Персонаж 4 (жен.)
						.upload-person(data-person-id='0004')
							.upload-list
							.upload-add

						.upload-name Персонаж 5 (муж.)
						.upload-person(data-person-id='0005')
							.upload-list
							.upload-add

						.upload-name Персонаж 6 (муж.)
						.upload-person(data-person-id='0006')
							.upload-list
							.upload-add

						.upload-name Персонаж 7 (жен.)
						.upload-person(data-person-id='0007')
							.upload-list
							.upload-add

						input#templatePhotoUpload.fileinput(type='file', accept='image/*', capture='camera')

				.item-info__submit
					a.btn.btn_green.btn_disable.js-template-submit(href='#') Продолжить
