extends layout/template

block vars
	- var pageName = 'lk';
	- var pageTitle = 'Личный кабинет - Избранные';
	- var pageDescription = 'Личный кабинет - Избранные';
	- var auth = true;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content
	section.lk
		.inner
			.title Личный кабинет
			+lkMenu('Избранные')
			.lk-content
				.lk-content__title Избранные

				.cards-list
					+cardsItem('008', '/item_008.html', '7', 'Студенты', true)
					+cardsItem('009', '/item_009.html', '1', 'Женщина одна', true)
					+cardsItem('004', '/item_008.html', '2', 'Американские мусора', true)
					+cardsItem('005', '/item_008.html', '2', 'Парочка влюбленных', true)


