extends layout/template

block vars
	- var pageName = 'lk';
	- var pageTitle = 'Личный кабинет';
	- var pageDescription = 'Личный кабинет';
	- var auth = true;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content
	section.lk
		.inner
			.title Личный кабинет
			+lkMenu('Оповещения')
			.lk-content
				.lk-content__title Не прочитанные

				.lk-massages
					.message-list.message-list_unread
						.message-item(data-message-id='0001')
							.message-head
								span.message-date 02.06.2016
								span.message-theme Ваш заказ #0695 выполнен.
								span.message-control
									a.message-control__read.fa.fa-check-circle(href="#", data-tooltip='Отметить как прочитанное', data-js-handle='message-to-read')
							.message-body
								| Ваш заказ <b>#0695</b> выполнен.<br>
								| Номер заказа: <b>0695</b>.<br>
								| Название макета: <b>«Что это за люди и почему миссис Хатсон их кормит?»</b>.<br>
								| Заказ оформлен: <b>10 января 2016 г</b>.<br>
								| Заказ оплачен: <b>11 января 2016 г</b>.<br>
								| Заказ выполнен: <b>15 января 2016 г</b>.<br>
								| Подробности можете узнать на <a href="#">странице заказа</a> в личном кабинете.

						.message-item(data-message-id='0002')
							.message-head
								span.message-date 03.07.2016
								span.message-theme Оплата по заказу #0845 прошла.
								span.message-control
									a.message-control__read.fa.fa-check-circle(href='#', data-tooltip='Отметить как прочитанное', data-js-handle='message-to-read')
							.message-body
								| Оплата по заказу <b>#0845</b> прошла.<br>
								| Номер заказа: <b>0845</b>.<br>
								| Название макета: <b>«Мишки в лесу»</b>.<br>
								| Заказ оформлен: <b>10 января 2016 г</b>.<br>
								| Заказ оплачен: <b>11 января 2016 г</b>.<br>
								| Подробности можете узнать на <a href="#">странице заказа</a> в личном кабинете.


				.lk-content__title Прочитанные

				.lk-massages
					.message-list.message-list_read
						.message-item.message-item_viewed(data-message-id='0003')
							.message-head
								span.message-date 02.05.2016
								span.message-theme Ваши фотографии по заказу #2135 не надлежащего качества. Далее текст для проверки длинны названия в заголовке.
								span.message-control
									a.message-control__read.fa.fa-arrow-circle-up(href="#", data-tooltip='Отметить как непрочитанное', data-js-handle='message-to-unread')
							.message-body
								| Ваши фотографии загруженные по  заказу <b>#2135</b> слишком низкого качества.<br>
								| Просим вас связаться с нашим менеджером в чате на <a href="">странице заказа</a> #2135

