extends layout/template

block vars
	- var pageName = 'lk';
	- var pageTitle = 'Личный кабинет';
	- var pageDescription = 'Личный кабинет';
	- var auth = true;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content
	section.lk
		.inner
			.title Личный кабинет &middot; Заказ #03125&nbsp;<sup><span class="status status_yell">В работе...</span></sup>
			+lkMenu()
			.lk-content

				.item-view
					.item-view__img
						img(src='/img/temp/008.jpg' alt='')
						.area-list
							.area-item(data-sex='female', style='top:110px;left:135px;width:56px;height:71px;', data-tooltip='Персонаж 2 (жен.)')
							.area-item(data-sex='male', style='top:64px;left:245px;width:69px;height:83px;', data-tooltip='Персонаж 3 (муж.)')
							.area-item(data-sex='female', style='top:91px;left:358px;width:67px;height:81px;', data-tooltip='Персонаж 4 (жен.)')

				.lk-content__title Загруженные фото
				.item-info
					.item-info__upload
						.upload
							.upload-person.loaded
								.upload-list
									.upload-item
										img(src='http://st.depositphotos.com/1387882/2687/i/110/depositphotos_26877023-Glamor-portrait-of-luxurious-classy.jpg' alt='')
									.upload-item
										img(src='http://www.istockphoto.com/file_thumbview/69866593/1' alt='')
									.upload-item
										img(src='http://st.depositphotos.com/1036362/1373/i/110/depositphotos_13736463-Portrait-of-girl-with-wavy.jpg' alt='')
									.upload-item
										img(src='http://www.istockphoto.com/file_thumbview/69866593/1' alt='')
									.upload-item
										img(src='http://st.depositphotos.com/1036362/1373/i/110/depositphotos_13736463-Portrait-of-girl-with-wavy.jpg' alt='')

							.upload-person.loaded
								.upload-list
									.upload-item
										img(src='http://www.mediafocus.com/images/thumbs/doubtful-man-on-white-background-ph14014321.jpg' alt='')
									.upload-item
										img(src='http://www.istockphoto.com/file_thumbview/44095544/1' alt='')
									.upload-item
										img(src='http://jcartwrightphoto.com/root-images/bounce/iphoto/photos/thumbs/thmExecutive%20Portrait%203.jpg' alt='')

							.upload-person.loaded
								.upload-list
									.upload-item
										img(src='http://fireandlightgallery.com/root/fireandlightgallery/iphoto/photos/thumbs/thmLexi_0005.jpg' alt='')
									.upload-item
										img(src='http://fireandlightgallery.com/root1/fireandlightgallery/iphoto/photos/thumbs_2901/thmBrittany%20Crowder-5.jpg' alt='')
									.upload-item
										img(src='http://st.depositphotos.com/1000572/1820/i/110/depositphotos_18203377-Outdoor-portrait-of-woman.jpg' alt='')
									.upload-item
										img(src='http://fireandlightgallery.com/root/fireandlightgallery/iphoto/photos/thumbs/thmLexi_0005.jpg' alt='')
									.upload-item
										img(src='http://fireandlightgallery.com/root1/fireandlightgallery/iphoto/photos/thumbs_2901/thmBrittany%20Crowder-5.jpg' alt='')
									.upload-item
										img(src='http://st.depositphotos.com/1000572/1820/i/110/depositphotos_18203377-Outdoor-portrait-of-woman.jpg' alt='')

				.lk-content__title Информация
				.lk-content__text
					p Стоимость: <b>150 у.е</b> (оплачено)
					p Дата оформления заказа: <b>21 сентября 2015 г.</b>
					p Дата оплаты заказа: <b>21 сентября 2015 г.</b>
					p Ориентировочная дата выполнения заказа: <b>27 сентября 2015 г.</b>

				.lk-content__title Оповещения

				.lk-content__chat#chat
					.chat
						form.chat-form(method='post', action='/data/chat.json')
							input.hidden(name='order-chat-id', type='text', value='03125')
							input.hidden(name='last_message_id', type='text', value='132')
							.chat-list
								.chat-item.chat-item_sender
									.chat-item__author Администратор
									.chat-item__date 20:00, 15 декабря 2015 г.
									.chat-item__text
										p Здорова, Кеша!
										p К сожалению твои загруженные фотографии слишком низкого качества и не годятся для работы.
										p Правда мы еще не придумали механизм дозагрузки фото в случае если кто-то изначально прислал говно, т.ч. пока мы тебе ничем помочь не можем.
										p Спасибо за внимание.
								.chat-item
									.chat-item__author Иннокентий Колобродский
									.chat-item__date 21:00, 15 декабря 2015 г.
									.chat-item__text
										p Да вы вообще там у себя @*#ели???
										p Я вам тут деньги заплатил, а вы мне там голову морочите!
										p Я вас по судам затаскаю!!!!
								.chat-item.chat-item_sender
									.chat-item__author Администратор
									.chat-item__date 21:50, 15 декабря 2015 г.
									.chat-item__text
										p Да, ладно, не кипешуй ты так.
										p Что нибудь придумаем.

							.chat-textarea
								.form-field
									textarea(placeholder='Написать сообщение', data-required='true', name='order-chat-text')
								.chat-textarea__submit
									input.btn.btn_green(type='submit', value='Отправить')