extends layout/template

block vars
	- var pageName = 'lk';
	- var pageTitle = 'Личный кабинет';
	- var pageDescription = 'Личный кабинет';
	- var auth = true;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content
	section.lk
		.inner
			.title Личный кабинет
			+lkMenu('Мои заказы')
			.lk-content
				.lk-content__title Текущие

				.lk-table-wrap
					.lk-table
						.lk-table__row.lk-table__row_head
							.lk-table__col #
							.lk-table__col Номер заказа
							.lk-table__col Название
							.lk-table__col Дата
							.lk-table__col Оплата
							.lk-table__col Статус
						.lk-table__row
							.lk-table__col 1
							.lk-table__col: a(href="/lk-orders-item.html") 03125
							.lk-table__col «Студенты»
							.lk-table__col 01.06.2016
							.lk-table__col
								a(href='#') Оплатить
								|  (50 у.е.)
							.lk-table__col: span.status.status_red Ожидает оплаты
						.lk-table__row
							.lk-table__col 2
							.lk-table__col: a(href="/lk-orders-item.html") 03250
							.lk-table__col «Женщина с бумажкой»
							.lk-table__col 05.06.2016
							.lk-table__col Оплачено (100 у.е.)
							.lk-table__col: span.status.status_yell В работе...

				.lk-content__title Завершенные


				.lk-table-wrap
					.lk-table
						.lk-table__row.lk-table__row_head
							.lk-table__col #
							.lk-table__col Номер заказа
							.lk-table__col Название
							.lk-table__col Дата
							.lk-table__col Оплата
							.lk-table__col Статус
						.lk-table__row
							.lk-table__col 1
							.lk-table__col: a(href="/lk-orders-item.html") 02854
							.lk-table__col «Приглашение на выпускной»
							.lk-table__col 25.04.2016
							.lk-table__col Оплачено (100 у.е.)
							.lk-table__col: span.status.status_green Выполнено
