extends layout/template

block vars
	- var pageName = 'lk';
	- var pageTitle = 'Личный кабинет - Настройки';
	- var pageDescription = 'Личный кабинет - Настройки';
	- var auth = true;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content
	section.lk
		.inner
			.title Личный кабинет
			+lkMenu('Настройки')
			.lk-content.lk-content_form
				form.form(method='post', action='/data/test.json')
					.lk-content__title Настройки профиля
					.form-box
						.form-field
							.form-field__label
								label(for='lkSettingsName') Имя
							.form-field__input
								input#lkSettingsName(type='text', placeholder='Имя', data-required='true', name='lk-setting-name', value='Иннокентий')
							.form-field__message
						.form-field
							.form-field__label
								label(for='lkSettingsSername') Фамилия
							.form-field__input
								input#lkSettingsSername(type='text', placeholder='Фамилия', data-required='true', name='lk-setting-sername', value='Колобродский')
							.form-field__message
						.form-field
							.form-field__label
								label(for='lkSettingsPhone') Мобильный телефон
							.form-field__input
								input#lkSettingsPhone(type='text', placeholder='+7 999 999-99-99', data-required='true', name='lk-setting-phone', value='')
							.form-field__message

					.lk-content__title Настройки оповещений

					.form-box
						.form-field
							.form-field__checkbox
								label
									input(type='checkbox', name='lk-setting-subscribe')
									| Получать сообщения на почту
							.form-field__message

					.lk-content__title Настройки входа

					.form-box
						.form-field
							.form-field__label
								label(for='lkSettingsNewPass') Пароль
							.form-field__input
								input#lkSettingsNewPass(type='password', placeholder='Сменить пароль', name='lk-setting-pass-new')
								input#lkSettingsConfirmPass(type='password', placeholder='Повторите пароль', name='lk-setting-pass-confirm')
							.form-field__message

					.form-submit
						input.btn.btn_green(type='submit', value='Сохранить')


