extends layout/template

block vars
	- var pageName = 'home';
	- var pageTitle = 'Карта сайта';
	- var pageDescription = 'Карта сайта';
	- var auth = false;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content
	section
		.inner
			.content
				div: a(href='/index.html') Главная
				div: a(href='/cards.html') Каталог
				div --&nbsp;Страница шаблона (
					a(href='/item_009.html') 1 человек
					|), (
					a(href='/item_008.html') 7 человек
					|)
				div ----&nbsp;
					a(href='#') Страница оформления заказа
				div: a(href='/lk-orders.html') Личный кабинет
				div ----&nbsp;
					a(href='/lk-orders-item.html') Страница заказа
				div --&nbsp;
					a(href='/lk-message.html') Оповещения
				div --&nbsp;
					a(href='/lk-settings.html') Настройки
				div --&nbsp;
					a(href='/lk-favorite.html') Избранные
				div: a(href='#') Форма обратной связи
				div: a(href='#') Пользовательское соглашение

