extends layout/template

block vars
	- var pageName = 'faq';
	- var pageTitle = 'Вопросы и ответы';
	- var pageDescription = 'Вопросы и ответы';
	- var auth = false;
	- var pageImage = 'http://site.ru/image.jpg';

block head

block content

	section
		.inner
			.title Индивидуальный сюжет.
			.content
				p Если Вы хотите уникальную работу, Вы можете заказать индивидуальный сюжет.
				p Художники изобразят Вашу историю по Вашим описаниям. Тут нужно как-то инграмотно расписать что это такое...
			.content.content_personalstory
				.personalstory
					form.form.form_js(method='post', action='/data/test.json', autocomplete='off', enctype="multipart/form-data", data-form-type='personalstory')
						.maxwidth
							.form-message
							.form-field
								.form-field__label
									label(for='feedbackName') Как к вам обращаться*
								.form-field__input
									input#feedbackName(type='text', placeholder='Как к вам обращаться', data-required='true', name='PersonalStory-name')
								.form-field__message
							.form-field
								.form-field__label
									label(for='PersonalStoryPhone') Мобильный телефон, для уточнения деталей.*
								.form-field__input
									input#PersonalStoryPhone(type='text', placeholder='+7 (999) 999-99-99', data-required='phone', name='PersonalStory-phone', value='')
								.form-field__message
							.form-field
								.form-field__label
									label(for='PersonalStoryText') Описание сюжета*
								.form-field__input
									textarea#PersonalStoryText(placeholder='Введите текст', data-required='true', name='PersonalStory-text')
								.form-field__message
						.form-field
							.form-field__label
								label(for='PersonalStoryPhotos') Фотографии*
							.form-field__input.form-field__input_files
								input#PersonalStoryPhotos(type='file', data-required='true', accept=".jpg, .jpeg, .png", name='PersonalStory-files')
							.form-field__message
						.form-field
							.form-field__fileuploader


						.form-submit
							input.btn.btn_big.btn_green(type='submit', value='Отправить')
