
.cards{
	margin: 16px 0;

	&-list{
		font-size: 0;
		width: 300px;
		margin: 0 auto;

		&_slider{
			height: 300px;
			margin: 0 0 20px;

			.cards-item{
				@include opacity(0);

				&.slick-slide{
					@include opacity(1);
				}
			}
		}

		@include breakpoint($bp1){
			width: auto;
		}
	}

	&-item{
		margin: 8px auto 16px;
		display: block;
		vertical-align: middle;
		@include box-sizing();
		cursor: pointer;
		width: 284px;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 14px;
		@include border-radius($round);
		@include box-shadow('0 1px 0px 0px rgba(0,0,0,.15), 0 2px 4px 0px rgba(0,0,0,.15)');
		position: relative;
		overflow: hidden;
		//background: url("/img/skulls.png") repeat 50% 50%;
		background-color: #fff;
		//background-color: rgba(#000, 0.1);


		@include breakpoint($bp1){
			display: inline-block;
			margin: 8px;
		}

		&__frame{

			overflow: hidden;
			background: 50% 50% no-repeat;
			z-index: 2;
			margin: 8px;

			@include background-size(contain);

			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				left: -2px;
				right: -2px;
				z-index: 3;
				@include background-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.9));

				-webkit-filter: blur(1px);
				filter: blur(1px);

				top: 10%;
				height: 30%;
				@include opacity(0);
				@include transform(skewY(10deg));
			}

			&:after{

				height: 5%;
				top: -10%;
				@include opacity(0);
				@include transform(skewY(10deg));
			}

			img{
				width: 100%;
				display: block;
			}
		}

		&__legend{

			font-family: 'Roboto Condensed', sans-serif;

			&-name{
				position: absolute;
				top:12px;
				left: 12px;
				padding: 0 11px;
				overflow: hidden;
				z-index: 1;
				background: rgba(#fff, 0.9);
				@include border-radius(100px);
				height: 32px;
				line-height: 32px;
				max-width: 10px;
				white-space: nowrap;
				text-overflow: ellipsis;
				@include opacity(0);
				@include transition(all 0.3s ease);
			}

			&-persons{
				position: absolute;
				left: 12px;
				bottom: 12px;
				color: $colorGreen;
				font-size: 18px;
				line-height: 32px;
				background: rgba(#fff, 0.9);
				height: 32px;
				text-align: center;
				@include border-radius(50px);
				padding: 0 10px;
				white-space: nowrap;
				max-width: 200px;
				text-overflow: ellipsis;
				overflow: hidden;

				i{
					font-size: 18px;
					margin-right: 5px;
				}
			}

			&-favor{
				position: absolute;
				right: 12px;
				top: 12px;
				font-size: 24px;
				line-height: 32px;
				width: 32px;
				text-align: center;
				color: $colorGreen;
				height: 32px;
				background: rgba(#fff, 0.9);
				@include border-radius(50px);
				z-index: 5;

				cursor: pointer;
			}

			&-link{
				position: absolute;
				bottom: -12px;
				right: 12px;
				z-index: 1;
				@include opacity(0);
				@include transition(all 0.2s ease 0s);
			}
		}


		.touch &,
		&:hover{

			.cards-item__frame{
				&:before {
					-webkit-animation: highlight_1 .5s ;
					animation: highlight_1 .5s ;
				}
				&:after {
					-webkit-animation: highlight_2 .5s ;
					animation: highlight_2 .5s ;
				}
			}

			.cards-item__legend{

				&-name{
					max-width: 185px;
					padding: 0 16px;
					@include opacity(1);
				}

				&-link{
					bottom: 12px;
					@include opacity(1);
					@include transition(all 0.2s ease 0.1s);

					.loading &{
						@include opacity(0);
					}
				}
			}
		}

		&.loading{
			.cards-item__legend{
				&-link{
					display: none;
				}
			}
		}
	}
}



@-webkit-keyframes highlight_1 {
	from{
		height: 20%;
		top: 30%;
		@include opacity(0);
		@include transform(skewY(10deg));
	}
	50%{
		@include opacity(.5);
	}
	to{
		height: 5%;
		top: -10%;
		@include opacity(0);
		@include transform(skewY(20deg));
	}
}
@keyframes highlight_1 {
	from{
		height: 20%;
		top: 30%;
		@include opacity(0);
		@include transform(skewY(10deg));
	}
	50%{
		@include opacity(.5);
	}
	to{
		height: 5%;
		top: -10%;
		@include opacity(0);
		@include transform(skewY(20deg));
	}
}

@-webkit-keyframes highlight_2 {
	from{
		height: 50%;
		top: 80%;
		@include opacity(0);
		@include transform(skewY(10deg));
	}
	50%{
		@include opacity(.5);
	}
	to{
		top: 10%;
		height: 30%;
		@include opacity(0);
		@include transform(skewY(20deg));
	}
}
@keyframes highlight_2 {
	from{
		height: 50%;
		top: 80%;
		@include opacity(0);
		@include transform(skewY(10deg));
	}
	50%{
		@include opacity(.5);
	}
	to{
		top: 10%;
		height: 30%;
		@include opacity(0);
		@include transform(skewY(20deg));
	}
}