@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,cyrillic-ext');


@font-face {
	font-family: 'Nautilus Pompilius';
	src: local('Nautilus Pompilius'),
	local('NautilusPompilius'),
	url('/fonts/nautilus/nautiluspompilius.woff2') format('woff2'),
	url('/fonts/nautilus/nautiluspompilius.woff') format('woff'),
	url('/fonts/nautilus/nautiluspompilius.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}




