.footer{
	margin-top: -450px;
	height: 400px;
	padding: 25px 0;
	background: rgba(#000, 0.35);
	text-align: center;
	font-size: 14px;

	@include breakpoint($bp1){
		height: 200px;
		margin-top: -250px;
	}

	&-nav{
		margin: 10px 0;

		width: 300px;
		float: left;

		.nav-item{
			display: block;
			margin: 8px 0;
			text-align: left;
		}

	}

	&-soc{
		float: none;
		clear: both;

		.soc{

			&-list{

			}

			&-item{
				display: inline-block;
				margin: 8px;
				font-size: 24px;
			}
		}
	}

	a{
		color: #fff;
	}

	.copyright{
		float: none;
		clear: both;
		margin-top: 14px;
	}

	.inner{
	}


	&-logo{
		text-align: center;
		margin-bottom: 20px;

		@include breakpoint($bp1){
			float: left;
			margin-right: 40px;
			margin-bottom: 0px;
		}

		.ico{
			display: inline-block;
			width: 175px;
			height:144px;
			background: url("/img/logo_w.svg") no-repeat 50% 50%;
			background-size: contain;
		}
	}
}