
.form{

	&-message{
		font-size: 14px;
		text-align: center;
		color: $colorRed;
		text-shadow: 0 1px 0 #fff;
	}

	&-field{

		position: relative;

		&__label{
			margin: 8px 0 4px;
		}

		&__input{
			margin: 4px 0;
		}


		&.error{
			textarea,
			input,
			.checkbox-item{
				border-color: $colorRed!important;
			}

			.btn_big{
				color: $colorRed!important;
				border-color: $colorRed!important;
			}
		}
		&.success{
			textarea,
			input,
			.checkbox-item{
				border-color: $colorGreen!important;
			}
		}


		&_checkbox{
			margin: 15px 0;

			.form-field__input{
				position: absolute;

				input{
					-webkit-appearance: none;
					opacity: 0;
					width: 20px;
					height: 20px;
					position: absolute;
					top:-5px;
					left: 0;
					z-index: 1;
					cursor: pointer;

					&:checked + .checkbox-item{

						&:before{
							content: '';
							position: absolute;
							display: block;
							width: 10px;
							height: 10px;
							background: $colorGreen;
							top:3px;
							left: 3px;
						}
					}
				}

				.checkbox-item{
					display: block;
					@include border-radius($round);
					background: #fff;
					border: 2px solid $colorGray;
					@include box-sizing();
					@include transition(border-color 0.25s ease);
					width: 20px;
					height: 20px;
					position: absolute;
					top:-5px;
					left: 0;
				}
			}
			.form-field__label{
				padding-left: 30px;

				label{
					cursor: pointer;
				}
			}
		}
	}


	&-submit{
		margin-top: 24px;
		text-align: center;
	}
}