
$easingTime: 0.6s;

.header-welcome{

	font-family: 'Roboto', sans-serif;

	& + .header{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		background: rgba(#000,0.5);
		@include transition(top 0.3s ease);
	}

	&.zoom {
		& + .header{
			top:-50px;


			&.fixed{
				top:0;
			}
		}
	}

	.inner{
		width: 100%;
		position: relative;
		//perspective: 3000px;
		perspective-origin: 50% 0%;
	}

	&__promo{
		position: absolute;
		left: -20vw;
		top: 16vw;
		line-height: 1;
		//@include transform(perspective(9400px) rotateX(14.9deg) rotateY(34.6deg) rotateZ(72deg) scale(0.54));
		@include transform(perspective(9400px) rotateX(33.9deg) rotateY(-7.4deg) rotateZ(79deg) scale(0.54));

		text-shadow: 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;

		.title{
			font-size: 7vw;
			color: $colorGreen;
		}

		.subtitle{
			font-size: 5vw;
			color: $colorGreen;
		}
	}

	&__bg{
		background: #000;
		img{
			display: block;
			width: 100%;
			opacity: 1;
			@include transition(opacity 0.6s ease);
		}
	}

	&__slider{
		//background: rgba(#fff, 1);
		width: 60%;
		height: 65%;
		position: absolute;
		@include transition(all $easingTime ease);
		@include user-select();
		display: none;


		@include breakpoint($bp1){
			display: block;
		}

		.slick-track,
		.slick-list{
			position: absolute;
			width: 100%;
			height: 100%;
		}

		&-item{
			height: 100%;
			width: 100%;
			position: absolute;
			top:0;
			left: 0;
			text-align: center;
			font-size: 100px;
			opacity: 0;
			@include transition(opacity $easingTime ease);

			&.active{
				opacity: 1;
				z-index: 1;
			}

			.bg{
				height: 100%;
				width: 100%;
				display: inline-block;
				background: #fff;

				img{
					height: 100%;
					display: block;
					margin: 0 auto;
					width: auto;
					@include transition(opacity $easingTime ease);
				}
			}

			.title{
				position: absolute;
				font-family: 'Nautilus Pompilius', serif;
				font-size: 3vw;
				opacity: 0;
				top:-17%;
				left:25%;
				color:white;
				@include transition(opacity $easingTime ease);
			}

			.source-item{
				position: absolute;
				width:20%;
				opacity: 0;
				@include transition(all 1s ease);
				@include box-shadow(0 0 5px rgba(#000, 0.5));
				@include transform(rotate(0deg));
			}

			.source{
				&.left{
					.source-item{
						top:10%;
						left:8%;
					}
				}
				&.right{
					.source-item{
						bottom:10%;
						right:8%;
					}
				}
			}
		}
	}

	&.nozoom{
		.header-welcome__slider{
			cursor: pointer;
			top: 31.6%;
			left: 21.3%;
			@include transform(perspective(9400px) rotateX(14.9deg) rotateY(34.6deg) rotateZ(-17.6deg) scale(0.54));
			@include transform-origin(0 0);

			.bg{
				@include transition(all 1s ease);
				@include box-shadow(0 0 5px #fff);
				img{
					opacity: 0.75;
				}
			}
		}

		.slick-arrow{
			display: none!important;
		}
	}

	&__info{
		position: absolute;
		bottom: 4vw;
		right: 4vw;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		text-align: right;
		text-shadow: 0 0 3px #000 ;

		@include breakpoint($bp1){
			top: 15vw;
		}


		.title{
			font-size: 25px;
			color: inherit;
			margin: 0;

			@include breakpoint($bp2){
				font-size: 35px;
			}
		}
		.subtitle{
			font-size: 18px;

			@include breakpoint($bp2){
				font-size: 28px;
			}
		}
	}

	&__control{
		//position: absolute;
		//bottom: -8vw;
		//width: 100%;
		//left: 0;
		text-align: center;
		opacity: 0;
		margin-top: 37vw;

		&-close,
		&-prev,
		&-next{
			display: inline-block;
			@include border-radius(50%);
			width: 5vw;
			height: 5vw;
			background: #fff;
			margin: 0 1vw;
			position: relative;
			cursor: pointer;
		}

		&-next{

			&:before{
				content: $fa-var-arrow-right;
				font-family: 'FontAwesome';
				position: absolute;
				top:0;
				left: 0;
				line-height: 5vw;
				color: $colorGreen;
				width: 100%;
				text-indent: 0;
				font-size: 2vw;
			}
		}

		&-prev{

			&:before{
				content: $fa-var-arrow-left;
				font-family: 'FontAwesome';
				position: absolute;
				top:0;
				left: 0;
				line-height: 5vw;
				color: $colorGreen;
				width: 100%;
				text-indent: 0;
				font-size: 2vw;
			}
		}

		&-close{

			position: absolute;
			top: -4vw;
			right: -18vw;

			&:before{
				content: $fa-var-close;
				font-family: 'FontAwesome';
				position: absolute;
				top:0;
				left: 0;
				line-height: 5vw;
				color: $colorGreen;
				width: 100%;
				text-indent: 0;
				font-size: 2vw;
			}
		}
	}

	&__btn{
		position: absolute;
		bottom: 7vw;
		text-align: center;
		width: 100%;
		left: 0;
		display: none;
		text-shadow: 0 0 3px #000 ;

		.btn{
			background: $colorGreen!important;
			color: #fff;
			border-color: $colorGreen;
		}

		@include breakpoint($bp1){
			display: block;
		}
	}



	&.zoom{
		.header-welcome__bg{
			img{
				opacity: 0.5;
			}
		}

		.header-welcome__control{
			opacity: 1;
		}

		.header-welcome__slider{
			top:17.5%;
			left:20%;
			@include transform(perspective(1500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1));


			.bg{
				background-color: transparent;
				@include box-shadow(0 0 15px rgba(#000, 0));
			}
			.active{
				.bg{
					img{
						opacity: 1;
					}
				}

				.title{
					opacity: 1;
					text-shadow:0 2px 3px rgba(#000, 0.75);
				}

				.source-item{
					opacity: 1;
				}

				.source{
					&.left{
						.source-item{
							&:nth-of-type(1){
								top: -4%;
								left: -2%;
								@include transform(rotate(-12deg));
							}
							&:nth-of-type(2){
								top: 30%;
								left: -12%;
								@include transform(rotate(-26deg));
							}
							&:nth-of-type(3){
								top: 67%;
								left: -15%;
								@include transform(rotate(-35deg));
							}
						}
					}
					&.right{
						.source-item{
							&:nth-of-type(1){
								bottom: -4%;
								right: -2%;
								@include transform(rotate(-12deg));
							}
							&:nth-of-type(2){
								bottom: 30%;
								right: -12%;
								@include transform(rotate(-26deg));
							}
							&:nth-of-type(3){
								bottom: 67%;
								right: -15%;
								@include transform(rotate(-35deg));
							}
						}
					}
				}

			}
		}
	}

}



.header{
	height: 72px;

	@include breakpoint($bp2){
		height: 50px;
	}

	.inner{
		position: relative;
		z-index: 100;

		margin-top: 16px;
		margin-bottom: 16px;
	}

	.nav-wrap{
		z-index: 100;
		background-color: transparent;
		@include transition(all 0.25s ease);
		@include box-shadow(0 0 0 rgba(#000, 0));
	}


	&.fixed{
		.nav-wrap{
			width: 100%;
			position: fixed;
			background-color: #fff;
			@include box-shadow(0 3px 3px rgba(#000, 0.35));
		}

	}
}

.nav{

	display: none;
	position: absolute;
	width: 100%;
	padding: 10px 0;
	z-index: 1;
	background: #fff;

	@include box-shadow(0 0px 20px 0px rgba(0,0,0,.5));

	&:before{
		content: '';
		display: block;
		position: absolute;
		border: 10px solid transparent;
		border-bottom-color: #fff;
		top:-20px;
		left: 14px;

		@include breakpoint($bp2){
			display: none;
		}
	}

	.open-nav &{
		display: block;
	}

	@include breakpoint($bp2){
		display: block;
		position: static;
		background: none;
		padding: 0;
		@include box-shadow(none);
	}

	&-list{

		@include breakpoint($bp2){
			.header &{
				float: left;

				&_user{
					float: right;
				}
			}
		}

	}

	&-item{
		vertical-align: top;
		margin: 8px;

		@include breakpoint($bp2){
			margin: 0 8px;
			display: inline-block;
		}

		.fa{
			position: relative;
			display: none;

			@include breakpoint($bp2){
				display: inline-block;
			}
		}

		&__full{

			@include breakpoint($bp2){
				display: none;
			}
		}
	}

	&-link{}


	&-mobile{
		display: block;
		margin: 0 4px;

		@include breakpoint($bp2){
			display: none;
		}
	}
}


.nav-logo{
	display: block;
	position: absolute;
	width: 60px;
	height: 50px;
	background: url("/img/logo_line.svg") no-repeat 0% 50%;
	top:-5px;
	left: 50%;
	margin-left: -30px;

	@include breakpoint($bp1){
		width: 235px;
		margin-left: -118px;
	}
}

.nav-handler{
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	z-index: 2;

	&__icon{
		display: inline-block;
		vertical-align: top;
		width: 30px;
		height: 30px;
		margin: 5px;
		position: relative;

		i{
			position: absolute;
			width: 30px;
			height: 4px;
			left: 50%;
			top: 50%;
			margin-left: -15px;
			margin-top: -2px;
			background: $colorGreen;
			@include border-radius(1px);
			@include transition();

			.open-nav &{
				margin-left: -2px;
				width: 4px;
			}

		}

		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 30px;
			height: 4px;
			left: 50%;
			top: 50%;
			margin-left: -15px;
			background: $colorGreen;
			@include border-radius(1px);
			@include transition();
		}

		&:after{
			margin-top: -10px;

			.open-nav &{
				margin-top: -2px;
				@include rotate(45);
			}
		}

		&:before{
			margin-top: 6px;

			.open-nav &{
				margin-top: -2px;
				@include rotate(135);
			}
		}

	}

	&:hover{
		.nav-handler__icon{

			&:after{
				margin-top: -12px;

				.open-nav &{
					margin-top: -2px;
					@include rotate(45);
				}
			}

			&:before{
				margin-top: 8px;

				.open-nav &{
					margin-top: -2px;
					@include rotate(135);
				}
			}
		}
	}

}



.notes{
	position: absolute;
	background-color: $colorRed;
	color: #fff;
	font-style: normal;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 11px;
	height: 14px;
	min-width: 10px;
	padding: 0 2px;
	line-height: 14px;
	text-align: center;
	@include border-radius(20px);
	top:-5px;
	right: -10px;
}