.item{
	margin: 8px 0;

	&-view{
		width: 584px;
		height:584px;
		padding: 16px;
		margin: 8px;
		background: url("/img/skulls.png") repeat top center;
		@include box-shadow('inset 0 1px 2px 0px rgba(0,0,0,.20)');
		@include box-sizing();
		@include border-radius($round);
		border-bottom: 1px solid #fff;
		font-size: 0;
		text-align: center;
		position: relative;

		@include breakpoint(0 $bp1 - 1px){

			@include transform(scale(.5));
			left: -150px;
			margin-top: -150px;
			margin-bottom: -150px;
		}

		@include breakpoint($bp2){
			float: left;
		}

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		&__legend{
			position: absolute;
			top:16px;
			right: 16px;
			font-size: 30px;

			.favorite{
				cursor: pointer;
				color: $colorGreen;
				@include transition(all 0.15s ease);

				&:hover{
					@include transform(rotate(144deg));
				}
			}
		}

		&__img{
			display: inline-block;
			vertical-align: middle;
			position: relative;

			.area-list{
				position: absolute;
				//overflow: hidden;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
				@include transition(all 0.3s ease);

				&:hover, &.hover{
					.area-item{
						@include opacity(1);

						&:before, &:after{
							@include opacity(1);
						}

						&:before{left: -1.5%;}
						&:after{right: -1.5%;}
					}
				}

			}

			.area-item{
				position: absolute;
				cursor: pointer;
				@include box-sizing();
				@include transition(all 0.3s ease);
				@include border-radius(50% 50% 50% 50%/40% 40% 60% 60%);

				&:before, &:after{
					content: '';
					display: block;
					position: absolute;
					top:0;
					width: 50%;
					height: 100%;
					@include transition(all 0.3s ease);
					@include opacity(0);
				}
				&:before{
					left: -20%;
					@include border-radius(100% 0 0 100%/40% 0 0 60%);
					border-left: 3px solid $colorRed;
				}
				&:after{
					right: -20%;
					@include border-radius(0 100% 100% 0/0 40% 60% 0);
					border-right: 3px solid $colorRed;
				}

				&:hover, &.hover{
					&:before{
						margin-left: -5%;
						@include opacity(1);
						left: -1.5%;
					}
					&:after{
						margin-right: -5%;
						@include opacity(1);
						right: -1.5%;
					}

					//@include box-shadow(0 0 10px 5px rgba(0,0,0,.75));
				}

				i{
					right: -10px;
					top: -10px;
				}


			}


		}

		img{
			max-width: 100%;
			max-height: 100%;
			display: block;
			@include box-shadow('0 1px 2px 0px rgba(0,0,0,.50)');
			border-top: 1px solid rgba(#fff, 0.5);
		}

	}

	&-info{
		margin: 8px;

		@include breakpoint($bp2){
			margin: 8px;
			margin-left: 608px;
		}

		&__person{

		}

		&__text{

		}

		&__upload{

			.upload{
				&-person{
					margin: 0 -5px 8px;
					font-size: 0;
					display: inline-block;
					@include border-radius($round);
					@include transition(all 0.15s ease);

					&:hover, &.hover{
						background: rgba($colorGray, 0.3);
						@include box-shadow('inset 0 1px 3px 0px rgba(0,0,0,.30), inset 0 3px 4px 0px rgba(0,0,0,.15)');
					}

					&.loaded{
						.upload-item,
						.upload-add{
							height: 110px;
							width:88px;
						}
					}
				}

				&-list{
					display: inline;
				}

				&-name{
					font-size: 14px;
				}

				&-item, &-add{
					position: relative;
					vertical-align: top;
					display: inline-block;
					background: #fff;
					margin: 5px;
					@include box-shadow('0 1px 0px 0px rgba(0,0,0,.20), 0 3px 4px 0px rgba(0,0,0,.15)');
					@include border-radius($round);
					@include transition(all 0.15s ease);
					height: 70px;
					width:70px;
				}

				&-item{

					img{
						width: 100%;
						height: 100%;
						display: block;
						@include border-radius($round);
					}

					&__remove{
						width: 16px;
						height: 16px;
						background: $colorGreen;
						@include border-radius(50%);
						position: absolute;
						top:4px;
						right: 4px;
						cursor: pointer;
						@include  transition(all 0.2s ease);

						&:before,
						&:after{
							content: '';
							display: block;
							background: #fff;
							width: 10px;
							height: 2px;
							position: absolute;
							top:50%;
							left: 50%;
							margin-top: -1px;
							margin-left: -5px;
							@include border-radius(20px);
							@include transition(all 0.5s ease);
						}
						&:before{
							@include transform(rotate(45deg));
						}
						&:after{
							@include transform(rotate(-45deg));
						}

						&:hover{
							background: $colorRed;
						}
					}
				}

				&-add{
					cursor: pointer;
					@include transition(background-color 0.3s ease);



					&.loaded{

					}

					&:before,
					&:after{
						content: '';
						display: block;
						background: $colorGreen;
						position: absolute;
						top:50%;
						left: 50%;
						@include border-radius(20px);
						@include transition(all 0.3s ease);
					}
					&:before{
						width: 40px;
						height: 6px;
						margin-top: -3px;
						margin-left: -20px;
					}
					&:after{
						height: 40px;
						width: 6px;
						margin-left: -3px;
						margin-top: -20px;
					}

					&:hover{
						background: $colorGreen;
						&:before,
						&:after{
							@include transform(rotate(90deg));
							background: #fff;
						}
					}
				}
			}

			.fileinput{
				position: absolute;
				@include opacity(0);
				top:-9999px;
				width: 100px;
			}
		}


	}

}