.lk{
	&-nav{
		padding: 0 8px;

		@include breakpoint($bp2){
			float: left;
			//width: 284px;
			width: 264px;
		}

		&__list{

		}

		&__item{
			margin-right: 8px;
			margin-bottom: 8px;
			display: inline-block;

			@include breakpoint($bp2){
				display: block;
				margin-right: 0;
			}
		}

		&__link{
			display: block;
			padding: 5px 8px;
			text-shadow: 0 1px 0 #fff;
			background: #e6e6e6;
			@include border-radius($round);
			@include box-shadow('0 1px 0px 0px rgba(0,0,0,.20)');
			@include user-select();
			position: relative;
			text-decoration: none;
			//background: $colorYellow;

			&:active, &.active{
				top:1px;
				@include box-shadow('inset 0 1px 0px 0px rgba(0,0,0,.20)');
			}

			&.active{
				cursor: default;
				//top:0;
				background:$colorGray;
				color: #fff;
				text-shadow: 0 -1px 0 #666;
			}
		}


	}

	&-content{

		@include breakpoint($bp2){
			margin-left: 300px;
		}

		&__title{
			font-weight: 600;
			margin: 8px;
			font-size: 18px;
		}

		&__text{
			margin: 8px;
			margin-bottom: 32px;
		}

		.cards-list{
			margin: 0;
		}
	}

	&-table-wrap{

		@include breakpoint(0 $bp1 - 1px){
			overflow-x: auto;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
		}
	}

	&-table{
		display: table;
		width: 100%;
		border: 1px solid #ddd;
		//@include box-shadow('0 0px 5px 0px rgba(0,0,0,.20)');
		background: #fff;
		font-size: 12px;
		margin: 8px 8px 16px;
		border-collapse: collapse;

		&__row{
			display: table-row;
			border: 1px solid #ddd;

			&:first-child{
				.lk-table__col{
					border-top: none;
				}
			}

			&_head{
				font-weight: bold;
			}
		}

		&__col{
			display: table-cell;
			padding: 8px;
			vertical-align: middle;

			.fa-times-circle{
				font-size: 20px;
				cursor: pointer;
				color: $colorGreen;

				&:hover{
					color: $colorRed;
				}
			}
		}
	}

	&-massages{
		margin: 8px;
	}


	.title{
		margin-bottom: 16px;
	}
}



.message{


	&-list{
		min-height: 30px;
		position: relative;
		margin-bottom: 20px;

		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			top:0;
			left: 0;
			font-size: 14px;
			color: #3C3C3C;
		}

		&_read{

			&:before{
				content: 'У Вас нет прочитанных сообщений';
			}
		}

		&_unread{

			&:before{
				content: 'У Вас нет непрочитанных сообщений';
			}
		}
	}

	&-item{
		background: #fff;
		border: 1px solid #ddd;
		margin-bottom: 8px;
		font-size: 14px;
		position: relative;
		z-index: 2;

		@include hoverShadow();

		&_viewed .message-head{
			background: #a6a6a6;
		}


		.fa{
			text-decoration: none;
		}

	}

	&-head{
		position: relative;
		padding: 5px 10px;
		white-space: nowrap;
		background: #03b705;
		color:#fff ;
		overflow: hidden;

		span{
			display: block;
		}
	}

	&-date{
		font-size: 14px;
		cursor: pointer;
		float: left;
	}

	&-theme{
		font-weight: bold;
		cursor: pointer;
		margin-left: 85px;
		margin-right: 70px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover{
			text-decoration: underline;
		}
	}

	&-control{
		position: absolute;
		right: 10px;
		top:5px;

		*{
			color: #fff;
		}
	}

	&-body{
		//position: relative;
		//padding: 5px 10px 15px;
		//white-space: nowrap;
		display: none;
	}

}

.lk-content_form{

	width: 600px;

	.form-field{

		margin: 8px;

		&__label{
			width: 284px;
			margin: 6px 0;
			float: left;
			border-bottom: 2px rgba(90, 90, 90, 0.37) dotted;
		}

		&__input{
			margin-left: 300px;

			#lkSettingsNewPass,
			#lkSettingsConfirmPass{width: 140px}
		}

	}

	.form-submit{
		margin: 8px;
	}

	.form-box{
		margin-bottom: 20px;
	}
}



.lk-content{

	.area-item{
		&:before{
			@include opacity(1);
			left: 0;
		}

		&:after{
			@include opacity(1);
			right: 0;
		}
	}

	.item-view{

		float: none;
		margin: 16px 8px 32px;

	}

	.item-info{
		margin: 8px 8px 32px;

		.upload-person{
			margin: 8px 0;
			display: block;
			padding: 0;
			background: none!important;
			@include box-shadow(none);

			&:after{
				content: '';
				display: table;
				clear: right;
			}
		}

		.upload-item{
			margin: 0 8px 0 0;
		}


	}
}




.chat{

	background: rgba($colorGray, 0.3);
	@include box-shadow('inset 0 1px 3px 0px rgba(0,0,0,.30), inset 0 3px 4px 0px rgba(0,0,0,.15)');
	padding: 8px;

	&-list{

	}

	&-item{

		@include box-shadow('0 1px 0px 0px rgba(0,0,0,.20), 0 3px 4px 0px rgba(0,0,0,.15)');
		@include border-radius($round);
		background: #fff;
		margin: 0 32px 8px 0;
		padding: 8px;
		overflow: hidden;
		font-size: 14px;

		&_sender{
			margin: 0 0 8px 32px;
		}

		&__date{
			float: right;
			color: $colorGray;
		}

		&__author{
			float: left;
			color: $colorBlue;
		}

		&__text{
			width: 100%;
			float: left;
			padding-top: 8px;
		}
	}

	&-textarea{

		@include box-shadow('0 1px 0px 0px rgba(0,0,0,.20), 0 3px 4px 0px rgba(0,0,0,.15)');
		@include border-radius($round);
		background: #fff;
		padding: 8px;

		textarea{
			border: none;
			resize: none;
			height: 100px;
			background: #fff;
		}

		.error{
			textarea{
				border: 2px solid $colorRed;
			}
		}

		&__submit{
			text-align: right;
		}
	}
}