


.wrapper  {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


.website {
	//position: relative;
	height: 100%;
	width: 100%;
	padding-bottom: 510px;

	@include breakpoint($bp1){
		padding-bottom: 310px;
	}
}

.content{
	margin: 0 8px 30px;

	p{
		margin: 8px 0;
	}

	&__more{
		text-align: center;
	}


	&_faq{
	}
}


.feedback{
	max-width: 584px;
	margin: 0 auto;
}

.faq{

	margin-bottom: 24px;

	&:hover{

	}

	&__q,
	&__a{
		position: relative;
		margin-bottom: 8px;
		padding-top: 30px;


		@include breakpoint($bp1){
			padding-top: 0;
			padding-left: 70px;
		}

		&:before{
			content: attr(data-title);
			position: absolute;
			left: 0;
			top: 5px;
			color: #999;
			font-weight: 400;
			font-size: 16px;

			@include breakpoint($bp1){
				top: 0;
			}
		}
	}

	&__q{
		font-weight: 600;
		font-size: 18px;
	}

	&__a{
	}
}


section{
	margin-top: 50px;
}

.inner{
	margin: 0 auto;
	@include clearfix();

	width: 300px;

	@include breakpoint($bp1){
		width: 600px;
	}
	@include breakpoint($bp2){
		width: 900px;
	}
	@include breakpoint($bp3){
		width: 1200px;
	}
	@include breakpoint($bp4){
		width: 1500px;
	}
	@include breakpoint($bp5){
		width: 1800px;
	}
}



.tooltip{
	display: none;
	@include border-radius($round);
	@include box-sizing();
	background: $colorGreen;
	font-size: 14px;
	text-align: center;
	width: 100px;
	top:16px;
	left: 50px;
	position: absolute;
	color: #fff;
	margin-left: -50px;
	margin-top: -16px;
	padding: 3px 8px 4px;
	//border-top: 1px solid rgba(#fff, 0.5);
	//text-shadow: 0 -1px 0 rgba(#000, 0.5);
	//@include transition(all 0.3s ease);
	@include box-shadow(0 2px 5px -1px rgba(0,0,0,.5));
	z-index: 105;

	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: -16px;
		left: 50%;
		margin-left: -8px;
		border: 8px solid transparent;
		border-top-color: $colorGreen;
	}

}




.title{
	margin: 8px;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: #555;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: 16px;
}

h1.title{
}


.status{
	display: inline-block;
	white-space: nowrap;
	font-size: 11px;
	//font-family: Arial, sans-serif;
	color: #fff;
	padding: 0 5px;
	height: 15px;
	line-height: 15px;
	cursor: default;
	@include border-radius(2px);
	@include user-select();

	&_yell{
		background: $colorYellow;
	}
	&_red{
		background: $colorRed;
	}
	&_green{
		background: $colorGreen;
	}
}



.personalstory{

	.cards-item__legend-favor{
		display: none;
	}
}