.menu{
	//@include background-gradient(#c7c7c7, #a9a9a9);
	margin: 16px 0;
	background: url("/img/skulls.png") repeat top center;
	@include box-shadow('inset 0 3px 2px -2px rgba(0,0,0,.20)');
	border-bottom: 1px solid #fff;

	&-list{
		padding: 8px 0;
		//min-height:100px;
	}

	&-item{
		font-family: 'Roboto Condensed', sans-serif;
		display: inline-block;
		vertical-align: top;
		padding: 0 30px;
		height: 30px;
		text-decoration: none;
		margin: 8px;
		line-height: 30px;
		color: #555;
		font-size: 14px;
		text-shadow: 0 1px 0 #fff;
		white-space: nowrap;
		@include border-radius($round);
		@include background-gradient(#fff, #eee);
		//@include box-shadow('0 1px 0px 0px rgba(0,0,0,.20), 0 3px 4px 0px rgba(0,0,0,.15)');
		@include box-shadow('0 1px 0px 0px rgba(0,0,0,.20)');
		@include transform(all 0.15s ease);
		@include user-select();

		i{
			font: inherit;
			margin-left: 5px;
			@include opacity(0.8);
		}

		&:hover{
			@include background-gradient(#ffffff, #eaeaea);
		}
		&:active, &.active{
			line-height: 31px;
			//@include background-gradient(#b9b9b9, #cacaca);
			@include background-gradient(#eee, #eee);
			//@include box-shadow('inset 0 -4px 6px 0px rgba(200,200,200,0.5), inset 0 0px 0px 1px rgba(0,0,0,.20), inset 0 2px 3px 0px rgba(0,0,0,.20), 0 1px 0px 0px rgba(255,255,255,.5)');
			@include box-shadow('inset 0 1px 0px 0px rgba(0,0,0,.40)');
		}
		&.active{
			cursor: default;
			//@include background-gradient($colorGreen, $colorGreen);
			background: $colorGray;
			color: #fff;
			text-shadow: 0 -1px 0 #666;
		}
	}
}