.popup{
	display: none;
	color: #343434;

	&-inner{
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		white-space: nowrap;
		width: 100%;
		z-index: 102;
		font-size: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}

	&-layout{
		text-align: left;
		@include border-radius($round);
		@include box-sizing();
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 60px auto;
		position: relative;
		vertical-align: middle;
		white-space: normal;
		width: 600px;
		z-index: 102;
		padding: 16px;
		font-size: 16px;
		background: url("/img/bg.png") repeat top center;
		max-width: 100%;
	}


	&-title{
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 16px;
	}

	&-close{
		width: 32px;
		height: 32px;
		position: absolute;
		cursor: pointer;
		background: #fff;
		top: -46px;
		right: 0;
		@include border-radius(50%);
		@include transition(all 0.5s ease);

		&:before,
		&:after{
			content: '';
			display: block;
			background: $colorGreen;
			width: 20px;
			height: 2px;
			position: absolute;
			top:50%;
			left: 50%;
			margin-top: -1px;
			margin-left: -10px;
			@include border-radius(20px);
			@include transition(all 0.5s ease);
		}
		&:before{
			@include transform(rotate(45deg));
		}
		&:after{
			@include transform(rotate(-45deg));
		}

		&:hover{
			background-color: $colorGreen;

			&:before,
			&:after{
				background: #fff;
			}
		}

	}

	&-overlay{
		background-color: rgba(0, 0, 0, 0.7);
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 101;
	}

	//

	&_preview{

		.popup-close{
			right: 15px;
		}

		.popup-layout{
			//width: 100%;
		}

		.popup-content{
			max-width: 552px;
			margin: 0 auto;
			position: relative;
			//overflow: hidden;
		}

		&__name{
			font-size: 18px;
			margin-top: 16px;
			margin-right: 110px;
			min-height: 36px;

			span{
				color: $colorGray;
				display: block;
				font-size: 16px;
			}
		}

		&__img{
			text-align: center;

			img{
				display: block;
				margin: 0 auto;
				max-width: 100%;
			}
		}

		&__link{
			position: absolute;
			bottom: 0;
			right: 0;
		}

		&__arrows{
			
			.arrow{

				position: absolute;
				text-indent: -9999px;
				z-index: 10;
				cursor: pointer;
				top:50%;
				height: 50px;
				width: 50px;
				@include border-radius(50px);
				margin-top: -25px;
				display: block;
				@include transition(all 0.2s ease);
				border: 0;
				text-align: center;
				background: #fff;
				@include box-shadow(0 2px 2px 0 rgba(#000, 0.3));
				@include user-select();

				&:before{
					content: '';
					font-family: 'FontAwesome';
					position: absolute;
					top:0;
					left: 0;
					line-height: 50px;
					color: $colorGreen;
					width: 100%;
					text-indent: 0;
					font-size: 20px;
				}

				&:active{
					@include box-shadow(0 0px 1px -1px rgba(#000, 0.5));
				}

				&_next{
					right: -10px;
					@include breakpoint($bp1){
						right: -35px;
					}

					&:before{
						content: $fa-var-arrow-right;
					}
				}
				&_prev{
					left:-10px;
					@include breakpoint($bp1){
						left:-35px;
					}

					&:before{
						content: $fa-var-arrow-left;
					}
				}
			}
		}

	}

	&_cropper{

		.popup-cropper{
			width: 568px;
			height: 540px;
			margin-bottom: 16px;
			position: relative;

			&__info{
				position: absolute;
				top:8px;
				right: 8px;
				z-index: 1;
				font-size: 32px;
				color: $colorGreen;

				.max-zoom{
					display: none;
				}
			}
		}


		.popup-info{
			margin: 16px 0;
		}

		.popup-link{
			text-align: right;

			.btn{
				margin-left: 8px;
			}
		}

		&.mz{
			.max-zoom{
				display: block;
			}
		}
	}

	&_info{

		.popup-text{
			font-size: 24px;
			text-align: center;
		}

		.popup-close{
			display: none;
		}

		.popup-link{
			margin-top: 16px;
			text-align: center;

			.btn{
				min-width: 120px;
			}
		}
	}

	&_browser{
		display: block;
	}

	&_login,
	&_reg,
	&_passrecover{
		.popup-layout{
			width: 300px;
		}

		.pass-recovery{
			text-align: center;
			margin-top: 8px;
		}

		.form-submit{
			.btn{
				display: block;
				width: 100%;
			}
		}
	}
}

