.preloader-wrap{
	position: relative;

	.preloader{
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#fff,.6);
		z-index: 99;
		cursor: default;

		.preloader-i{
			width: 150px;
			height:150px;
			position: absolute;
			top:50%;
			left: 50%;
			margin-top:-75px;
			margin-left: -75px;
			@include border-radius(50%);
			@include box-sizing();
			border: 3px solid transparent;
			border-top-color: #3498db;
			@include animation(preloaderRotare 1.5s linear infinite);

			&:before,
			&:after{
				content: '';
				position: absolute;
				display: block;
				top:10%;
				left: 10%;
				@include border-radius(50%);
				@include box-sizing();
				border: 3px solid transparent;
			}

			&:before{
				width: 93%;
				height: 93%;
				top:3.5%;
				left: 3.5%;
				border-top-color: #e74c3c;
				@include animation(preloaderRotare 2s linear infinite);
			}

			&:after{
				width: 80%;
				height: 80%;
				top:10%;
				left: 10%;
				border-top-color: #f9c922;
				@include animation(preloaderRotare 3s linear infinite);
			}
		}
	}
}



@-webkit-keyframes preloaderRotare {
	0%   {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(360deg));
	}
}
@keyframes preloaderRotare {
	0%   {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(360deg));
	}
}