/* CSS Reset section */

html {
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	min-width: 320px;
}

body {
	margin: 0;
	height: 100%;
	padding: 0;
	font-size: 16px;
	line-height: 1.2;
	//font-family: 'current', Arial, Helvetica, sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	//	-webkit-transform:translate3d(0,0,0);

	background: url("/img/bg.png") repeat top center;

	&.overflow_hidden{
		overflow: hidden;
	}
	&.loading{
		&:before{
			content: '';
			position: fixed;
			display: block;
			width: 100%;
			height: 100%;
			top:0;
			left: 0;
			z-index: 1000;
		}
	}
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea,
input[type=text],
//input[type=submit],
input[type=password]{
	-webkit-appearance: none;
	@include border-radius($round);
	background: #fff;
	border: 2px solid $colorGray;
	font: inherit;
	padding: 6px 8px;
	font-size: 14px;
	@include box-sizing();
	width: 100%;
	@include transition(border-color 0.25s ease);
	margin: 0;
	line-height: 1;

	&:focus{
		border-color: $colorBlue;
	}
}
textarea{
	resize: none;
	height: 150px;
}


label{
	@include user-select();
}

.hidden{
	display: none;
}

input[type=checkbox]{
	display: inline-block;
	margin: 0 8px 0 0;

	&:checked{
		background: #f00;
	}
}

img {
	border: 0;
}

a, a:focus, a img, a img:focus {
	outline: 0 none;
}

a, a img, textarea, input {
	outline: 0 none;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

a{
	color: $colorGreen;
	text-decoration: underline;

	&:hover{
		text-decoration: none;
	}
}

p {
	margin: 0;
}

dl, dt, dd {
	margin :0;
}


/* mixins */

@mixin clearfix(){
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


.clearfix {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


.btn{
	padding: 8px 20px;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	cursor: pointer;
	background: #fff;
	display: inline-block;
	border: none;
	position: relative;

	@include border-radius($round);
	@include background-gradient(#ffffff, #dedede);
	@include box-shadow('0 1px 0px 0px rgba(0,0,0,.20), 0 3px 4px 0px rgba(0,0,0,.15)');
	@include transform(all 0.15s ease);
	@include user-select();

	&:hover{
		@include background-gradient(#ffffff, #eaeaea);
		color: inherit;
	}

	&:active{
		top:1px;
		@include box-shadow('inset 0 -1px 2px 0px rgba(200,200,200,0.85), inset 0 0px 0px 1px rgba(0,0,0,.20), inset 0 2px 3px 0px rgba(0,0,0,.20), 0 1px 0px 0px rgba(255,255,255,.5)');
	}


	&.btn_green{
		color: #fff;
		@include background-gradient(#0bcc0d, #03b705);
		&:hover{
			@include background-gradient(#0bcc0d, #05c607);
		}
	}

	&.btn_disable{
		color: #eee;
		cursor: default;
		@include background-gradient(#bdbdbd, #bdbdbd);
		@include box-shadow('0 1px 0px 0px rgba(0,0,0,.20), 0 1px 2px 0px rgba(0,0,0,.15)');
		&:hover{
			@include background-gradient(#bdbdbd, #bdbdbd);
		}
	}


	&_big{
		background: none!important;
		height: 46px;
		line-height: 40px;
		padding: 0 30px;
		border: 3px solid;
		@include border-radius(4px);
		@include box-shadow(none);
		font-size: 18px;
		font-weight: bold;
		@include box-sizing();

		&.btn_green{
			border-color: $colorGreen;
			color: $colorGreen;
		}

		&.btn_white{
			border-color: #fff;
			color: #fff;
		}

		&:hover{
			background: none!important;
			@include box-shadow(none);
		}

		&.btn_disable{
			background: none;
			border-color: #bdbdbd;
			color: #bdbdbd;
			@include box-shadow(none);
		}
	}
}

.maxwidth{
	max-width: 584px;
	margin: 0 auto;
}