/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    *{
        &:focus{
            outline: none;
        }
    }
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }

    &:focus {
        outline: none;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow{
    position: absolute;
    text-indent: -9999px;
    z-index: 10;
    cursor: pointer;
    top:50%;
    height: 50px;
    width: 50px;
    @include border-radius(50px);
    margin-top: -25px;
    display: block;
    @include opacity(0);
    @include transition(all 0.2s ease);
    border: 0;
    background: #fff;
    @include box-shadow(0 2px 2px 0 rgba(#000, 0.3));

    .touch &{
        @include opacity(1);
    }

    &:active{
        @include box-shadow(0 0px 1px -1px rgba(#000, 0.5));
    }

    &.slick-next{
        right: 0;

        &:before{
            content: $fa-var-arrow-right;
            font-family: 'FontAwesome';
            position: absolute;
            top:0;
            left: 0;
            line-height: 50px;
            color: $colorGreen;
            width: 100%;
            text-indent: 0;
            font-size: 20px;
        }

        .touch &,
        .slick-slider:hover &{
            @include opacity(1);
            right: -17px;
        }
    }
    &.slick-prev{
        left:0;

        &:before{
            content: $fa-var-arrow-left;
            font-family: 'FontAwesome';
            position: absolute;
            top:0;
            left: 0;
            line-height: 50px;
            color: $colorGreen;
            width: 100%;
            text-indent: 0;
            font-size: 20px;
        }

        .touch &,
        .slick-slider:hover &{
            @include opacity(1);
            left:-17px;
        }
    }

}